.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px red;
    .logo p{
        display: inline;
        font-size: 50px;
        border: 2px solid blue;
    }
    .search {
        display: flex;
        justify-content: center;
        border: 2px solid green;
        .search-box {
            border: 2px solid black;
            padding-right: 50px;
        }
        #search-icon {
            height: 20px;
        }
        margin-right: 10px;
    }
}